---
layout: blog-posts
title: Blog Posts
header: default
---

<main class="container container-main">

  <ul class="posts">
    {% for post in site.posts %}
    <a href="{{ post.url }}">
      <li>
        <span class="post-title">{{ post.title }}</span>
        <span class="post-date">{{post.date | date_to_string: "ordinal", "US" }}</span>
        {{ post.excerpt | truncatewords: 50 }}
      </li>
    </a>
      {% if forloop.last == false %}
      <hr />
      {% endif %}
    {% endfor %}
  </ul>

</main>