---
layout: default
title: Home
---

<div class="home">
  <div class="home-hero">
    <h1 class="hero-shoutout">Hello, world!<br />My name is Braden.</h1>
    <img src="/public/images/profile-black-white.jpg" />
  </div>
  <span class="home-intro">
    I'm a husband, father, and avid coder specializing in software architecture.
  </span>
  <div class="home-recent-posts">
    <h2 class="home-recent-posts-title">Recent Posts</h2>
    {% for post in site.posts limit: 3 %}
    <hr />
    <div class="post">
      <h2 class="post-title">
        <a href="{{ post.url | absolute_url }}"> {{ post.title }} </a>
      </h2>

      <div class="post-info">
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <span class="post-reading-time">
          {% assign words = post.content | number_of_words %} {% assign time =
          words | divided_by: 400 | plus: 1 %}
          <i class="fas fa-clock fa-sm"></i> {{ time }} {%if time > 1 %} mins {%
          else %} min {% endif %}
        </span>
      </div>

      <p class="post-excerpt">
        {{ post.excerpt | newline_to_br | strip_newlines | replace: '<br />', '' 
        | strip_html | strip | truncatewords: 50 }}
      </p>

      <a class="post-link" href="{{ post.url}}">Read on...</a>
    </div>
    {% endfor %}
  </div>

  <a class="home-view-posts" href="/blog/">View more posts</a>
</div>
