<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- SEO Meta tags -->
  <meta name="description" content="On a mission to help you innovate, instruct, and inspire." />
  <meta name="keywords" content="braden hitchcock,hitchcock,software engineering,software architecture" />
  <meta name="author" content="Braden Hitchcock" />
  <meta property="og:title" content="{{ page.title }}" />
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <!-- Base CSS -->
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/hc.css' | absolute_url }}">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Mono">

  <!-- Font Awesome Icons-->
  <script src="https://kit.fontawesome.com/cf05308278.js" crossorigin="anonymous"></script>

  <!-- Icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/public/images/favicon.png' | absolute_url }}">

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

</head>
