<header>
    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand logo" href="/">
            {% include vectors/default-monochrome.svg %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.link }}">{{item.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>