<header>
    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand logo" href="/">
            {% include vectors/default-monochrome.svg %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-center">
                {% for item in site.data.navigation %}
                <li class="nav-item">
                    {% if item.external %}
                        <a class="nav-link" href="{{ item.link }}" target="_blank" >
                    {% else %}
                        <a class="nav-link" href="{{ item.link }}" >
                    {% endif %}
                        {% if item.icon %}
                            <i class="{{ item.class }}"></i>
                        {% else %}
                            {{item.name}}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>