$cBlueDark: #001f3e;
$cBlueLight: #002e5d;
$cWhite: #ffffff;
$cBlack: #00171f;

$cLink: #007ea7;
$cCodeBackground: #f3f3f3;
$cTableBorder: #f3f3f3;

$cFont: black;

$cGradient: linear-gradient(to bottom right, $cBlueDark, $cBlueLight)