@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');

$fTheme: 'Space Mono', monospace;

$fHeader: 'Montserrat', sans-serif;
$fBody: 'Georgia';
