@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:200&display=swap');

$fThemePrimary: 'Istok Web';
$fThemeSecondary: 'Barlow';

$fHeader: 'Open Sans';
$fBody: 'Georgia';


@mixin reader-font-set {
    font-family: $fBody;

    line-height: 1.5em;
    font-size: 1.1rem;

    p {
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    pre {
        margin: 1.5em 0em;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $fHeader;
    }
}