---
---
@import "fonts";

.posts {
    margin: 10px;
    padding: 10px;
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 15px;

        p {
            font-family: $fBody;
        }

        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        .post-title {
            font-size: 2.0em;
            font-family: $fHeader;
        }

        .post-date {
            font-size: 1.2em;
            font-family: $fHeader;
            margin-bottom: 0.4em;
        }
    }
}