---
---
@import "fonts";

.posts {
    margin: 10px;
    padding: 10px;

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 15px;

        &:hover {
            .post-title {
                text-decoration: underline;
            }
        }

        p {
            font-family: $fBody;
        }

        .post-title {
            font-size: 2.0em;
            font-family: $fHeader;
        }

        .post-date {
            font-size: 1.2em;
            font-family: $fHeader;
            margin-bottom: 0.4em;
        }
    }
}