---
---
@import "colors";
@import "fonts";
@import "breakpoints";

header {
    width: 100%;
    * {

        font-family: $fLogo;
        color: $cWhite;
     }

    .navbar {
        background-image: $cGradient;
        background-color: $cWhite;
        -webkit-transition: all ease-out .5s;
        -moz-transition: all ease-out .5s;
        -o-transition: all ease-out .5s;
        transition: all ease-out .5s;

        &.active {
            background-image: none;
            background-color: $cWhite;
            box-shadow: 1px 1px 2px $cBlueDark;

            * {
                color: $cBlueDark;
            }

            .logo svg * {
                fill: $cBlueDark;
            }

            .navbar-collapse {
                background-image: none;
                background-color: $cWhite;
            }
        }



        li {
            text-align: right;
        }
    }

     .navbar-collapse {
         background-image: $cGradient;
     }

     

    .logo svg {
        width: 150px;

        @include media-breakpoint-up(md) {
            width: 200px;
        }

        * {
            fill: $cWhite;
        }
    }

    .navbar-toggler-icon {
        fill: $cWhite;
    }

    @include media-breakpoint-up(md) {
        li a {
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
        }
        li a:hover {
            color: inherit;
            border-bottom: 2px solid $cWhite;
        }
    }

}