---
---
@import "colors";
@import "fonts";
@import "breakpoints";

.container-home {
    margin-top: 80px;
}

.portfolio-image {
    width: 100%;

    @include media-breakpoint-up(xl) {
        width: 77%;
    }
}

.about {
    font-size: 2.3rem;
    font-weight: 200;
    font-family: $fHeader;
    margin-top: 25px;
}

.slogan-container {
    z-index: 1000;

    .slogan {
        color: $cBlueDark;
        font-family: $fTheme;
        font-size: 3.0rem;
        font-weight: normal;
        text-align: center;
    
        @include media-breakpoint-up(md) {
            text-align: left;
            font-size: 3.0rem;
            margin-top: 40px;
        }
    
        @include media-breakpoint-up(lg) {
            font-size: 3.3rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 3.6rem;
        }
    
    }
}

.recent-posts {
    font-family: $fHeader;
    
    a {
        color: inherit;
        text-decoration: none;
    }

    p {
        font-family: $fBody;
    }

    .card {
        margin: 10px;

        &:hover {
            h5 {
                text-decoration: underline;
            }
        }
    }

    .link-more-posts {
        color: $cLink;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
