---
---
@import "colors";
@import "fonts";
@import "breakpoints";
@import "header";

@include header(
    (
        "primary": (
            "color": $cWhite
        ),
        "secondary": (
            "gradient": $cGradient
        )
    ),
    (
        "primary": $cBlueDark,
        "secondary": $cWhite
    )
);


.container-home {
    margin-top: 65px;
}

.portfolio-image {
    width: 100%;
}

.about {
    font-size: 2.5em;
    font-weight: 200;
    font-family: $fThemeSecondary;
}

.slogan-container {
    z-index: 1000;

    .slogan {
        color: $cBlueDark;
        font-family: $fThemePrimary;
        font-size: 3.5em;
        font-weight: normal;
        text-align: center;
    
        @include media-breakpoint-up(md) {
            text-align: left;
            font-size: 3.5em;
            margin-top: 40px;
        }
    
        @include media-breakpoint-up(lg) {
            font-size: 3.0em;
        }

        @include media-breakpoint-up(xl) {
            font-size: 4.0em;
        }
    
    }
}