---
---
@import "breakpoints";

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}

[style*="--aspect-ratio"] > img {  
    height: auto;
} 

@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }  
}

.container-learn-content {

    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @include media-breakpoint-up(md) {
            padding-bottom: 0px;
            padding-top: 0px;
            height: auto;
            
            iframe {
                position: relative;
                width: 560px;
                height: 316px;
            }

            object,embed {
                position: relative;
                width: auto;
                height: auto;
            }
        }

    }

    .header {
        margin-top: 20px;
    }

}