---
---
@import "fonts";
@import "colors";
@import "breakpoints";

.container-learning-resources {
    .welcome-banner {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            padding: 10px;
        }

        @include media-breakpoint-up(lg) {
            padding: 20px;
        }

        h1 {
            color: $cBlueLight;
            font-family: $fTheme;
            font-size: 2.0em;
            font-weight: normal;
            text-align: center;
            margin-top: 10px;
    
            @include media-breakpoint-up(md) {
                margin-top: 0px;
                margin-left: 20px;
                font-size: 2.7em;
            }
        }

        svg {
            width: 150px;
            @include media-breakpoint-up(lg) {
                width : 200px;
            }
        }

    }

    .resources {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    
        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            padding: 10px;

            border-top: 1px solid #cccccc;

            @include media-breakpoint-up(md) {
                &:hover {
                    .topic-name {
                        text-decoration: underline !important;
                    }
                }
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            .topic-name {
                text-decoration: underline;

                @include media-breakpoint-up(md) {
                    text-decoration: none;
                }
            }

            .topic-subtitle {
                color: #777777;
            }



            &:hover {
            }
        }
    }
}

