---
---
@import "fonts";
@import "colors";
@import "breakpoints";

.container-learn-outline {

    max-width: 980px;

    @include media-breakpoint-up(md) {
        padding-top: 10px;
    }

    .outline-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100px;
        }

        h1 {
            text-align: center;

            @include media-breakpoint-up(md) {
                margin-top: 20px;
                text-align: left;
            }
        }
    }

    .outline {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        margin: 0px;
        padding: 0px;

        .section-link {
            color: inherit;
            text-decoration: none;

            @include media-breakpoint-up(md) {
                &:hover {
                    .section-title {
                        text-decoration: underline !important;
                    }
                }
            }
        }
    
        .section {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 10px;
            border-top: 1px solid #cccccc;         

            .section-thumbnail {
                display: none;
                @include media-breakpoint-up(md) {
                    align-self: flex-start;
                    display: block;
                    width: 75px;
                }
            }

            .section-summary {

                @include media-breakpoint-up(md) {
                    margin-left: 25px;
                }

                .section-title {
                    font-size: 1.5em;
                    text-decoration: underline;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 0px;
                        text-decoration: none;
                    }
                }

                .section-description {
                    text-decoration: none;
                    color: inherit;
                }
            }

            
        }
    }

}