---
---
@import "fonts";

.container-main {
    width: 100%;
    max-width: 728px;

    @include reader-font-set;
}

.container-post {
    margin-top: 100px !important;
    margin-bottom: 300px;
}

.post-footer {
    display: flex;

    .signature {
        color: #555555;
        margin-left: auto;
    }
}