---
---
@import "breakpoints";
@import "colors";
@import "post";

.container-main {
    @include reader-styles;
}

.container-post {
    margin-top: 100px !important;
    padding-bottom: 100px !important;

    .post-header {
        margin-bottom: 16px;

        .post-info {
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
            font-style: italic;

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }

            .date-author {
                justify-self: flex-start;
            }

            .reading-time {
                margin-left: 0;
    
                @include media-breakpoint-up(md) {
                    margin-left: auto;
                }
            }

        }

    }

    

    .post-footer {
        display: flex;
        flex-direction: column-reverse;
        font-size: 0.9em;
        font-style: italic;
    

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        .discord-invite {
            margin-left: auto;
            color: $cLink;

        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }
        }

        .signature {
            color: #555555;
            margin-left: auto;
        }
    }

}