---
---
@import "post";

.container-main {
    @include reader-styles;
}

.container-post {
    margin-top: 100px !important;
    padding-bottom: 100px !important;
}

.post-footer {
    display: flex;

    .signature {
        color: #555555;
        margin-left: auto;
    }
}