---
---
@import "colors";
@import "breakpoints";

.container-resume {
    width: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

a:hover {
    text-decoration: none;
}

.navbar-collapse {
    background-image: $cGradient !important;
    @include media-breakpoint-up(md) {
        background-image: none !important;
    }

}

.active {
    .navbar-collapse {
        background-image: none !important;
    }
}