---
---

@mixin fill {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html {
    @include fill;
    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @include fill;

        main {
            flex-grow: 1;
        }
    }
}

a {
    text-decoration: none;
}