---
---
@mixin reset {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html {
    @include reset;
    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @include reset;

        main {
            flex-grow: 1;
        }
    }
}

a {
    text-decoration: none;
}

.container-main {
    margin-top: 65px;
}