---
layout: default
---

{% assign topic = site.data.learn.topics[page.topic] %}

<div class="topic-outline-header">
  <img class="topic-image" src="{{ topic.logo }}" />
  <h1 class="topic-title">{{ topic.name }}</h1>
  <h3 class="topic-subtitle">{{ topic.subtitle }}</h6>
</div>
<p>{{ topic.overview }}</p>

<div class="sections">
  {% assign current_section_number = 0 %}
  {% for section_page in site.learn %}
    {% if section_page.topic == page.topic %}
      {% unless section_page.url contains "index" %} 
        {% if current_section_number != section_page.section.number %}
          {% assign current_section_number = section_page.section.number %}
          <hr />
          <h4>Section {{section_page.section.number}}</h4>
        {% endif %}
          <div class="section">
              <h3 class="section-title">{{section_page.section.title}}</h3>
              <p class="section-description">
                {{section_page.section.description | markdownify }}
              </p>
              <div class="section-footer">
                <a class="topic-link" href="{{section_page.url}}">Learn More</a>
              </div>
          </div>
      {% endunless %} 
    {% endif %} 
  {% endfor %}
</div>
