---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <span class="post-reading-time">
      {% assign words = content | number_of_words %}
      {% assign time = words | divided_by: 400 | plus: 1 %}
      <i class="fas fa-clock fa-sm"></i> {{ time }} {%if time > 1 %} mins {% else %} min {% endif %}
    </span> 
  </div>
  {{ content }}

  <div class="post-footer">
    <span class="post-signature"><cite>- Braden Hitchcock</cite></span>
  </div>
  {% if page.comments %}
  <div class="post-comments">
    <h2>
      Join the discussion!
      <i class="fab fa-discord"></i>
    </h2>
    <p>
      Have a question or comment about what you just read?
    </p>
    <ol>
      <li>
        <a href="https://discord.gg/baHRhh9x3b">
          Join our community on Discord.
        </a>
      </li>
      <li>
        <a href="{{ page.comments }}">
          Add to the thread for this post!
        </a>
      </li>
    </ol>
    <p>
      You'll also get access to a network of innovative software engineers who
      share your interests!
    </p>
  </div>
  {% endif %}
</div>
