---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <span class="post-reading-time">
      {% assign words = content | number_of_words %}
      {% assign time = words | divided_by: 400 | plus: 1 %}
      <i class="fas fa-clock fa-sm"></i> {{ time }} {%if time > 1 %} mins {% else %} min {% endif %}
    </span> 
  </div>
  {{ content }}

  <div class="post-footer">
    <span class="post-signature"><cite>- Braden Hitchcock</cite></span>
  </div>
  <div class="post-comments">
    <div class="giscus"></div>
    <script src="https://giscus.app/client.js"
            data-repo="bradenhc/bradenhc.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnkyMDY0NjYzMDY="
            data-category="Post Comments"
            data-category-id="DIC_kwDODE5tAs4Cbujw"
            data-mapping="og:title"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="noborder_light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</div>
